body {
    font-family: monospace;
}

#output_id {
   color: #027b74;
}

#button{
    color: #b305b3;
    margin: 1em 0;
    padding: 0.5em;
    cursor: pointer;
}

#input_id {
    height: 2em;
    width: 80%;
}